<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="./css/error.css">
</head>
<body>
    <div class="main">
        <div class="part one">
            <h1>{{title}}</h1>
            <h3>Error: {{errorMessage}}</h3>
            <p>What do you want to do next ?</p>
            <div class="link">
                <a href="{{linkFirst}}" class="linkOne">Go back home</a>
                <a href="{{linkSecond}}" class="linkTwo">{{linkValue}}</a>
            </div>
        </div>
        <div class="part two">
            <img src="./img/error.jpg" alt="" class="error">
        </div>
    </div>
</body>
</html>